{
   "presets": [
      "@babel/env",
      "@babel/typescript"/* ,
      "minify" */
   ],
   "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-classes"
   ],
   "comments": false
}